@font-face {
    font-family: "DM Sans-Italic";
    src: url(./bento-grid-main/assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: "DM Sans-Regular";
    src: url(./bento-grid-main/assets/fonts/DMSans-VariableFont_opsz\,wght.ttf);
    font-weight: normal;
}



body {
    background-color: whitesmoke;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2.5rem;
}
h4 {
    font-size: 1.5rem;
    font-weight: normal;
}

.grid-container {
    font-family: "DM Sans-Regular";
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
    margin: 5rem auto;
    max-width: 1440px;
}

img {
    max-width: 100%;
    max-height: 180px;
    height: auto;
    width: auto;
    object-fit: contain; 
}

.section1 {
    display: grid;
    gap: 2rem;
}

.flex-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    padding: 2rem;
    gap: 0.5rem;
}

h2, h3, h4 {
  text-align: left;
  margin: 0;
}

.panfleto1 {
    background-color: hsl(31, 66%, 93%);
    gap: 3rem;
    justify-content: center;
}

.panfleto1 span {
    color: hsl(256, 67%, 59%);
    font-family: "DM Sans-Italic";
    }

.panfleto2 {
    background-color: hsl(39, 100%, 71%);
    justify-content: space-around;
    align-items: center;
}

.panfleto2 img {
    width: 90%;
    height: auto;
    max-height: 300px;
}



.section2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.tarjeta1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    grid-column: span 2;
    background-color: hsl(256, 67%, 59%);
    gap: 0;
}

#span1 {
    color: hsl(39, 100%, 71%);
}

#span2 {
    font-family: "DM Sans-Italic";
}

.tarjeta2 {
    background-color: hsl(254, 88%, 90%);
    grid-row: span 2;
    padding: 0;
}

.tarjeta2 h3, h4 {
    padding: 2rem;
}

.tarjeta2 img {
    align-self: flex-end;
    padding: 0 0 0 2rem;
    max-height: none;
    height: 350px;
    object-fit: cover;
    object-position: left;
    width: 90%;
}

.tarjeta3 {
    background-color: white;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    position: relative;
}

.tarjeta3 h3 {
    font-size: 2rem;
}

.tarjeta3 img {
    position: relative;
    left: 50px;
    max-height: 300px;
    max-width: 200%;
    height: 250px;
    width: auto;
}

.tarjeta4 {
    justify-content: start;
    background-color: hsl(39, 100%, 71%);
    aspect-ratio: 1 / 1;
    position: relative;
    overflow: hidden;
}

.tarjeta4 h3 {
    font-size: 2rem;
}

.tarjeta4 img {
    position: relative;
    top: 50px;
}

.tarjeta5 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: white;
    aspect-ratio: 1 / 1;
}



.tarjeta6 {
    display: flex;
    color: white;
    background-color: hsl(256, 67%, 59%);
    grid-column: span 2;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    gap: 2rem; 
}

.tarjeta6 img {
    max-height: 250px;
}

.tarjeta6 h2 {
    font-size: 3rem;
}


@media (max-width: 1050px) {
    .grid-container {
        display: flex;
        flex-direction: column-reverse;
    
    }

    .tarjeta2 img {
        align-self: center;
        padding: 0;
        object-fit: fill;
        height: auto;
    }

    .tarjeta6 {
        flex-direction: column;
    }

    .tarjeta6 h2 {
        font-size: 2rem;
    }

}

